<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smy.antest">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListViewArrayAdapterRealize" />
        <activity android:name=".ListViewSimpleAdapter" />
        <activity android:name=".ListViewBaseAdapterRealize" />
        <activity android:name=".ServiceStartServiceActivity" />
        <activity android:name=".ToastTestActivity" />

        <service android:name=".ServiceStartService" />

        <activity android:name=".MyBroadcastReceiverActivity" />
        <activity android:name=".ContactsTestActivity" />
        <activity android:name=".DialogTestActivity" />
        <activity android:name=".ContentProviderMyActivity">
            <!-- MIME类型 -->
            <intent-filter>
                <action android:name="vnd.android.cursor.dir\/vnd.smy.person"/>
                <data android:mimeType="vnd.android.cursor.dir/vnd.smy.person"/>
            </intent-filter>
            <intent-filter>
                <action android:name="vnd.android.cursor.item\/vnd.smy.person"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.smy.person"/>
            </intent-filter>

        </activity>

        <provider
            android:name="MyProviderPerson"
            android:authorities="com.example.smy.antest"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="true"
            />
    </application>

</manifest>
