<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CustomViewTextActivity" />
        <activity android:name=".activity.CustomViewImageActivity" />
        <activity android:name=".activity.CustomViewProgressActivity" />
        <activity android:name=".activity.CustomViewVolumeActivity" />
        <activity android:name=".activity.CustomViewGroupActivity" />
        <activity android:name=".activity.CustomViewDragActivity" />
        <activity android:name=".activity.CustomDrawerViewActivity" />
        <activity android:name=".activity.CustomViewChangeColorActivity" />
        <activity android:name=".activity.CustomViewRoundImageActivity" />
        <activity android:name=".activity.CustomViewSlideDeleteActivity" />
        <activity android:name=".activity.CustomViewGestureLockActivity" />
        <activity android:name=".activity.CustomViewArcMenuActivity" />
        <activity android:name=".activity.CustomRoundImageShaderActivity" />
        <activity android:name=".activity.CustomViewDrawableRoundActivity" />
        <activity android:name=".activity.CustomDrawableStateActivity" />
        <activity android:name=".activity.CustomCircleMenuActivity" />
        <activity android:name=".activity.CustomFlabbyBirdActivity" />
        <activity android:name=".activity.CustomLuckyPlateActivity" />
        <activity android:name=".activity.GamePuzzleActivity" />
        <activity android:name=".activity.Game2048Activity" />
        <activity android:name=".activity.ClipImageActivity" />
        <activity android:name=".activity.NestedScrollActivity" />
        <activity android:name=".activity.CollapseLayoutActivity" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity android:name=".activity.RecyclerActivity"></activity>
    </application>

</manifest>